<article class="blog">
    <div class="title">
        <a href="/blogs/{{id}}">
            <h1>{{title}}</h1>
        </a>
        <p>{{post_contents}}</p>
    </div>
    <div class="meta">
        By: {{User.user_name}} on
        {{format_date created_at}}
        |
        <a href="/blogs/{{id}}">{{Comments.length}} comments</a>
    </div>
</article>