<article class="blog">
    <div class="title">
        <a href="{{Blog.post_contents}}" target="_blank">{{Blog.title}}</a>
        <span>({{Blog.post_contents}})</span>
    </div>
    <div class="meta">
        By: {{Blog.User.user_name}} on {{Blog.created_at}}
        |
        <a href="/blogs/{{Blog.id}}">{{Blog.Comments.length}} comments</a>
    </div>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

<div class="comments">
    {{#each Blog.Comments}}
    <section class="comment">
        <div class="meta">
            {{ User.user_name }} on {{ created_at }}
        </div>
        <div class="text">
            {{ comment_text }}
        </div>
    </section>
    {{/each}}
</div>

<script src="/javascript/comment.js"></script>