<article class="blog">
    <div class="title">
        <h2>{{blog.title}}</h2>
        <span>{{blog.post_contents}}</span>
    </div>
    <div class="meta">
        By: {{blog.User.user_name}} on {{blog.created_at}}
        |
        <a href="/blogs/{{blog.id}}">{{blog.Comments.length}} comment(s)</a>
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"> </textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

<div class="comments">
    {{#each blog.Comments}}
    <section class="comment">
        <div class="meta">
            {{ User.user_name }} on {{ created_at }}
        </div>
        <div class="text">
            {{ comment_text }}
        </div>
    </section>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
