<article class="blog">
    <div class="title">
        <a href="{{blog.post_contents}}" target="_blank">{{blog.title}}</a>
        <span>({{blog.post_contents}})</span>
    </div>
    <div class="meta">
        By: {{blog.User.user_name}} on {{blog.created_at}}
        |
        <a href="/blogs/{{blog.id}}">{{blog.Comments.length}} comments</a>
    </div>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-body"> </textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

<div class="comments">
    {{#each blog.Comments}}
    <section class="comment">
        <div class="meta">
            {{ User.user_name }} on {{ created_at }}
        </div>
        <div class="text">
            {{ comment_text }}
        </div>
    </section>
    {{/each}}
</div>

<script src="/javascript/comment.js"></script>